body {
    height: 2000px;
}

.container {
    position: fixed;
    bottom: 20px;
    right: 0;
    background-color: rgb(255, 255, 255);
}

.i {
    height: 60px;
    position: relative;
    background-color: azure;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
        rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    line-height: 60px;
    
}